<h2>New User</h2>

<form action="/" method="post">
  <input type="text" name="name" placeholder="your name here" />
  <input type="text" name="email" placeholder="your email here" />
  <input type="text" name="star_sign" placeholder="your star sign here" />
  <input type="submit" value="sumit" />
</form>
